PORT=3000

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=cbs_db
DB_USER=postgres
DB_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d

# bcrypt
BCRYPT_SALT_ROUNDS=10

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=